@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/* Reset CSS */
*, :after, :before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a{
    text-decoration: none;
    list-style: none;
    color: #737380;
    font-family: 'Montserrat', sans-serif;
}

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
}

/* Header CSS */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #000000;
}

header .logo{
    width: 50px;
    height: 50px;
}

.navbar ul{
    display: flex;  
}

.navbar ul li{
    margin: 0 .5rem;
}

.navbar ul li a{
    display: block;
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    border-bottom: 2px solid transparent;
}

.navbar ul li a:hover{
    color: white;
    border-bottom: 2px solid #9466ff;
}

/* toggle button */
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #9466ff;
    border-radius: 10px;
}

/* Main Container */
main{
    width: 100%;
    height: 700px;
}

main .main-container{
    width: 100%;
    height: 100%;
    position: relative;
}

main .main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 101%;
    padding: 2rem 0;
    position: absolute;
    background: linear-gradient(180deg, rgba(18, 18, 20, 0) 0%, #121214 100%);
}

main .main-content h1{
    margin: 0 0 5rem 1rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
    color: #FFFFFF;
}

main .main-content p{
    margin: 0 0 5rem 1rem;
    max-width: 1000px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    line-height: 2.3rem;
    color: #FFFFFF;
}

main .main-image{
    width: 100%;
    height: 100%;
}

main .main-image .image-content{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

/* Section Courses */

.products-container{
    width: 100%;
    height: fit-content;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.products-container h2{
    margin-bottom: 3rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    color: #000000;
}

.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: fit-content;
    height: fit-content;
}

.product-container h3{
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}

.product-container .cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.product-container .card{
    width: 200px;
    height: fit-content;
    padding-bottom: 1rem;
}

.product-container .card img{
    border-radius: 100%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    box-shadow: 0px 5px 20px #121214;
}
.product-container .card p{
    margin-top: 1.5rem;
    text-align: center; 
    font-size: 1.2rem;
    font-weight: 400;
}

.product-container button{
    margin: 3rem 0;
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 25px;
    background-color: #59863A;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.2s ease;
}

.product-container button:hover{
    border: 2px solid #000000;
    box-shadow: 0px 5px 20px #121214;
}

.product-container .button{
    padding: 8px 35px;
    color: white;
}

.product-container .button:hover{
    color: #000000;
}













/* Responsividade */

@media (max-width: 768px) {
    body{
        height: 2000px;
    }
    header{
        height: 60px;
        justify-content: space-between;
        padding: 0 2rem;
        position: relative;
    }

    header .logo{
        width: 40px;
        height: 40px;
    }

    .navbar{
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        border-top: 2px solid #9466ff;
        border-bottom: 2px solid #9466ff;
        background-color: #000000;
        z-index: 999;
    }
    
    .navbar ul{
        width: 100%;
        flex-direction: column;
    }
    
    .navbar ul li{
        margin-top: .4rem;
        text-align: center;
    }

    .toggle-button{
        display: flex;
        position: unset;
    }

    .navbar.active{
        display: flex;
    }

    main{
        width: 100%;
        height: fit-content;
    }

    main .main-content h1{
        margin: 0 0 3rem 0;
    }

    main .main-content p{
        margin: 0 0 1rem 0;
    }

    main .main-image .image-content{
        height: calc(100vh - 60px);
    }
}

@media (min-width: 769px) and ( max-width: 1200px) {
    main{
        height: 600px;
    }

    main .main-content{
        align-self: flex-start;
    }

    main .main-content h1{
        margin: 0 0 3rem 0;
    }

    main .main-content p{
        margin: 0
    }
}