@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/* Reset CSS */
*, :after, :before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a{
    text-decoration: none;
    list-style: none;
    color: #737380;
    font-family: 'Montserrat', sans-serif;
}

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #4E21B7;
}

/* Header CSS */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #000000;
}

header .logo{
    width: 50px;
    height: 50px;
}

.navbar ul{
    display: flex;  
}

.navbar ul li{
    margin: 0 .5rem;
}

.navbar ul li a{
    display: block;
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    border-bottom: 2px solid transparent;
}

.navbar ul li a:hover{
    color: white;
    border-bottom: 2px solid #9466ff;
}

/* toggle button */
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #9466ff;
    border-radius: 10px;
}

/* Main Container */
main{
    width: 100%;
    height: 700px;
}

main .main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #121214;
}

main .main-content{
    align-self: center;
    border-top: 4px solid #000000;
    border-bottom: 4px solid #000000;
    padding: 2rem 0;
}

main .main-content h1{
    margin: 0 0 5rem 1rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    font-style: italic;
    color: white;
}

main .main-content p{
    margin: 0 0 5rem 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    line-height: 2.3rem;
    color: #cfc5c5;
}

main .main-image{
    width: 700px;
    height: 100%;
}

main .main-image .image-content{
    -webkit-mask-image: linear-gradient(to right, transparent 5%, black 120%);
    mask-image: linear-gradient(to right, transparent 0%, black 100%);
    width: 700px;
    height: 100%; 
    object-fit: cover;
}














/* Responsividade */

@media (max-width: 768px) {
    body{
        height: 2000px;
    }
    header{
        height: 60px;
        justify-content: space-between;
        padding: 0 2rem;
        position: relative;
    }

    header .logo{
        width: 40px;
        height: 40px;
    }

    .navbar{
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        border-top: 2px solid #9466ff;
        border-bottom: 2px solid #9466ff;
        background-color: #000000;
    }
    
    .navbar ul{
        width: 100%;
        flex-direction: column;
    }
    
    .navbar ul li{
        margin-top: .4rem;
        text-align: center;
    }

    .toggle-button{
        display: flex;
        position: unset;
    }

    .navbar.active{
        display: flex;
    }

    main{
        width: 100%;
        height: fit-content;
    }

    main .main-content{
        align-self: flex-start;
    }

    main .main-content h1{
        margin: 0 0 3rem 0;
    }

    main .main-content p{
        margin: 0 0 1rem 0;
    }

    main .main-image{
        display: none;
    }
}

@media (min-width: 769px) and ( max-width: 1200px) {
    main .main-content h1{
        margin: 0 0 3rem 0;
    }

    main .main-content p{
        margin: 0
    }

    main .main-image{
        width: 350px;
        height: 100%;
    }

    main .main-image .image-content{
        width: 350px;
    }
}